{% extends "bootstrap/base.html" %}

{% block title %}
Demo App
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='starter-template.css')}}">
<link href = "{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel = "stylesheet">
<script src = "{{url_for('static', filename='scripts/jquery.min.js')}}"></script>
<script src = "{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('base.home') }}">SameFace-App</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('base.home') }}">Home</a></li>
            <li><a href="{{ url_for('base.index') }}">Aplikasi</a></li>
            <li><a href="">Tutorial</a></li>
            <li><a href="{{ url_for('base.logout') }}">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1>SameFACE-APP</h1>
        <p class="lead">SameFace-App adalah aplikasi berbasis web yang menerapkan machine learning didalam aplikasi ini. aplikasi ini memungkinkan untuk melihat kemiripan dari wajah manusia maupun hewan, dan bisa juga diterapkan untuk melihat kemiripan wajah dengan "Pasangan".</p>
        <center><img src="{{url_for('static', filename='makan.png')}}" class = "img-responsive" alt = "Online Training"></center>
      </div>

    </div><!-- /.container -->
{% endblock %}